#include("_layout.html")
#@layout()
#define content()

<script>
(function ($) {
  $(function () {
          $("body").removeClass("home blog wp-custom-logo hfeed");
          $("body").addClass("archive category category-auto category-7 wp-custom-logo hfeed");
          $("#primary").show();
  })
})(jQuery);
</script>



<div id="primary" class="content-area clear" style="display:none;">

    <div class="content-wrapper">


      <main id="main" class="site-main clear">
          <div class="popular-content">
              <ul class="tab-titles">
                  <li class="#(clubCategory ? '' : 'active')"><a href="#(CPATH)/club">最新帖子</a></li>

                  #for(c : clubCategories)
                  <li class="#(c == clubCategory ? 'active' : '')"><a href="#(c.url)">#(c.title ??)</a></li>
                  #end

              </ul>
              <a href="#(CPATH)/club/newpost" class="post-btn">发帖</a>
          </div>
        <div class="content-list clear">

            #topPosts()
            #for(post : posts)

            <div class="club-list">
                <div class="club-list-left">
                    <p class="post-view">
                        <span class="font-weight">#(post.view_count ?? 0)</span>
                        <span>浏览</span>
                    </p>
                    <p class="club-answer">
                        <span class="font-weight">#(post.comment_count ?? 0)</span>
                        <span>回答</span>
                    </p>
                </div>
                <div class="club-list-right">
                    <div class="entry-overview">
                        <div class="entry-meta first-line">
                        <span class="entry-author">
                          <a href="#">
                            <img alt="" src="img/avatar.png" class="avatar avatar-90 photo" height="90" width="90">
                          </a>
                        </span><!-- .entry-author -->
                            <span class="entry-date">#(post.user.nickname ??)
                              #userMembers(post.user.id)
                              #for(member : members)
                              <a href="#(member.type.link ??)" class="label-vip2">
                                  <img src="#(member.type.icon ??)" alt="#(member.type.title ??)">
                              </a>
                              #end
                              #end
                                / 发布于 <span class="elegantDate" data-elegant-date="">#date(post.created,'yyyy-MM-dd HH:mm:ss')</span></span><!-- .entry-date -->
                        </div>
                    </div><!-- .entry-overview -->
                    <h5 class="entry-title">
                        <a href="#(post.url)"> [置顶] #(post.title ??) </a>
                        <span class="entry-category">
                            <a href="#(post.category.url)" target="_blank">#(post.category.title ??)</a>
                        </span>
                    </h5>
                </div>
            </div>

            #end
            #end


            #postPage(pageSize=20)
            #for(post : clubPage.list)
            <div class="club-list">
                <div class="club-list-left">
                    <p class="post-view">
                        <span class="font-weight">#(post.view_count ?? 0)</span>
                        <span>浏览</span>
                    </p>
                    <p class="club-answer">
                        <span class="font-weight">#(post.comment_count ?? 0)</span>
                        <span>回答</span>
                    </p>
                </div>
                <div class="club-list-right">
                    <div class="entry-overview">
                        <div class="entry-meta first-line">
                        <span class="entry-author">
                          <a href="#">
                            <img alt="" src="img/avatar.png" class="avatar avatar-90 photo" height="90" width="90">
                          </a>
                        </span><!-- .entry-author -->
                            <span class="entry-date">#(post.user.nickname ??)
                              #userMembers(post.user.id)
                              #for(member : members)
                              <a href="#(member.type.link ??)" class="label-vip2">
                                  <img src="#(member.type.icon ??)" alt="#(member.type.title ??)">
                              </a>
                              #end
                              #end
                                / 发布于 <span class="elegantDate" data-elegant-date="">#date(post.created,'yyyy-MM-dd HH:mm:ss')</span></span><!-- .entry-date -->
                        </div>
                    </div><!-- .entry-overview -->
                    <h5 class="entry-title2">
                        <a href="#(post.url ??)"> #(post.title ??) </a>
                        <span class="entry-category">
                            <a href="#(post.category.url ??)" target="_blank">#(post.category.title ??)</a>
                        </span>
                    </h5>
                </div>
            </div>

            #end
            #end








        </div><!-- #recent-content -->
      </main><!-- .site-main -->
        #articlePaginate(previousText="上一页",nextText="下一页",previousClass="prev page-numbers",nextClass="next page-numbers",activeClass="current")
        <nav class="navigation pagination" role="navigation"><div class="nav-links">

            #for(page : pages)
            <a class="page-numbers #(page.style ??)" href="#(page.url ??)">#(page.text ??)</a>
            #end
        </div></nav>
        #end
    </div><!-- .content-wrapper -->
  </div><!-- #primary -->



#include("_clubbar.html")

#end